.result {
    margin-top: 60px;
    width:800px;
    text-align: center;
}

.resultTitle {
font-size: 32px;
font-weight: 500;
line-height: 44px;
letter-spacing: 0.5px;
text-align: center;
margin-bottom: 60px;
}

.resultSection {
    margin-top: 60px;
}

.videoAndDescription {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.titleAndSummary {
    margin-left: 10px;
    width: 1000px;
    text-align: left;
}

.timeStamp {
font-size: 14px;
font-weight: 500;
line-height: 20px;
letter-spacing: 0em;
text-align: left;
color: #FF0099;
}

.titleAndTimeStamp {
    display: flex;
    justify-content: space-between;
  }
