.title {
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 8px;
}

.videoUrlUploadForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;

}

.videoUrlUploadInput, .videoUrlUploadButton {
    height: 36px;
    padding: 0; /* Remove padding */
    gap: 4px;
}

.videoUrlUploadInput {
    width: 272px;
    height: 24px;
    padding: 4px 8px 4px 8px;
    border: 1px solid #C5C7C3;
    gap: 4px;
}

.videoUrlUploadButton {
    margin-left: 8px;
    width: 83px;
    height: 36px;
    padding: 0 12px;
    font-size: 14px;
    background-color:
    #F4F4F3;
    border: none;
}

.errorMessage {
    color: var(--TL-Red-500, #F44336);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem; /* 142.857% */
}

.videoAndStatus {
    text-transform: capitalize;
}