.app {
  padding: 20px;
  min-height: 100vh;
}

body {
  background: #FFEBF7 url('../public/Frame\ 3091.png');
  background-repeat: space;
  background-attachment: fixed;
  background-size: 300px;
  padding: 30px;
}