.inputForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 381px;
    margin-top: 60px;
}

.inputForm__title {
    font-weight: 700;
    font-size: 16px;
}

.inputForm__form {
    margin-top: 20px;
    width: 381px;
}

.inputForm__form__checkboxes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

.inputForm__form__checkboxes__wrapper {
    margin: 0;
    padding: 0;
  }

.inputForm__form__checkboxes__wrapper__label {
    text-transform: capitalize;
    margin: 0;
    padding: 0;
  }

.inputForm__form__checkboxes__wrapper__checkbox {
    width: 12.8px;
    height: 12.8px;
    background-color: #FFACDE;
    margin-right: 8px;
    padding: 0;
  }

.inputForm__form__checkboxes__wrapper__checkbox:hover {
    cursor: pointer;
}

.inputForm__form__checkboxes__wrapper__checkbox:checked {
    width: 12.8px;
    height: 12.8px;
    accent-color: #FF0099 ;
    }

.inputForm__form__button {
    margin-top: 30px;
    background-color: #FF0099;
    width: 381px;
    height: 44px;
    top: 600px;
    left: 529px;
    padding: 10px 12px 10px 12px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    color: white;
}

.inputForm__form__button:disabled {
    cursor:not-allowed;
}

.inputForm__form__button:hover:enabled {
    cursor: pointer;
    transform: scale(0.98);
}