
.LoadingSpinner {
    margin: 0.2rem;
  }

.LoadingSpinner__wrapper {
    animation: rotate 2s linear infinite;
    padding: 0.2rem;
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }