.result {
    margin-top: 60px;
    width:800px;
    text-align: center;
}

.result__summary, .result__chapters, .result__highlights {
    margin-top: 60px;
}

.result__chapters__wrapper__chapter, .result__highlights__wrapper__highlight {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.result__chapters__wrapper__chapter__wrapper, .result__highlights__wrapper__highlight__timeSummary {
    margin-left: 10px;
    width: 1000px;
    text-align: left;
}

.result__chapters__wrapper__chapter__wrapper__summary {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
    }

.result__chapters__wrapper__chapter__wrapper_titleTime {
    display: flex;
    justify-content: space-between;
}

.result__chapters__wrapper__chapter__wrapper_titleTime_title, .result__highlights__wrapper__timeWrapper {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
}

.result__chapters__wrapper__chapter__wrapper_titleTime_time, .result__highlights__wrapper__highlight__timeSummary__time {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #FF0099;
}