.summarizeVideo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.summarizeVideo__appTitle {
    font-size: 32px;
    font-weight: 500;
}

  .summarizeVideo__videoTitle {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
}

.summarizeVideo__messageWrapper {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    min-width: 20rem;
    height: 3.4375rem;
    padding: 0.3rem 0.75rem;
    gap: 0.5rem;
    border: 1px solid #006F33;
    background: #FFEDEC;
    margin-left: auto;
    margin-right: auto;
}


.summarizeVideo__messageWrapper__message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 0 0;
    align-self: stretch;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
}