.summarizeVideo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.summarizeVideo__appTitle {
    font-size: 32px;
    font-weight: 500;
}

  .summarizeVideo__videoTitle {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
}